*tags
*.swp
.*
!.gitignore
!.gitmodules
.VimballRecord
.netrwhist
bundle/**
sessions/
"after/*
"bitmaps/*
"compiler/*
"doc/*
"ftdetect/*
"ftplugin/*
"indent/*
"plugin/*
"sessions/*
"syntax/*
"view/*

